* {
	margin: 0px;
}

header {
	background: rgba(18, 41, 54, 0.5);
	width: 100%;
	height: 35px;
	position: fixed;
	z-index: 1;
}

nav {
	width: 1100px;
}

#logo {
	width: 29.4px;
	height: 34.6px;
	float: left;
	padding-left: 40px;
}
/*MENU*/
	#menu {
		list-style-type: none;
	}

	#menu li {
		float:left;
		padding-left: 50px;
	}


	#menu a {
		font-size:  12px;		
		letter-spacing: 2px;
		line-height: 35px;
		padding: 10px;
		transition: all 0.25s ease-in;
	}

	#menu a:hover {
		color: #112936;
		background: #CCE8DC;
	} 

	#menu a:active {
		background: #CCE8DC;
	}
/*END MENU*/	

/*TYPOGRAPHY*/
	body {
		font-size: 16px;
	}

	h1 {
		font: 1.5em 'Open Sans Light', 'Helvetica', sans-serif;
		color: #CCE8DC;
	}

	h2 {
		font: 1.25em 'Droid Serif', Serif; /*20/16px*/
		color: #CCE8DC;
		padding-bottom: 15px;
	}

	a {
		text-decoration: none;
		font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
		color: #CCE8DC;
	}

	p {
		font: 0.75em 'Open Sans', sans-serif; /*12/16px*/
		color: #CCE8DC;
	}
/*///TYPOGRAPHY*/
section {
	position: relative;
}

.page-title {
	position: relative;
	top: 80px;
	margin-left: 5%;
	width: 30%;
	height: 0;
}


/* VISIBLE FADE IN/OUT */
	.on-screen {
		opacity: 1;
		transition:  all 1.5s ease-in;
	}
	
	.off-screen {
		opacity: 0;
		transition:  all 1.5s ease-in;
	}
/* /// VISIBLE FADE IN/OUT */

/*HOME*/
	section#home {
		background: url('../img/home-background.jpg') no-repeat fixed;
		background-position: 50% 80%;
		/*width: 100%; */
		/*height: 1280px;*/
	}

	#home-content {
		margin: 0 auto 0 auto;
		width: 35%;
		padding-top: 10%;
	}

	/*OLD SMARTPHONES*/
	@media screen and (max-width: 500px) {
		section#home {
			height: 700px;
		}
	}	
	/*OLD SMARTPHONES*/

	/*RETINA SMARTPHONES */
		@media 
		only screen and (-webkit-min-device-pixel-ratio : 1.5),
		only screen and (min-device-pixel-ratio : 1.5)
		and
		(orientation: portrait)
		and
		only screen (min-height: 1800px)

		 {
			section#home {
				height: 1580px;
				background: url('../img/home-bg-m.jpg') fixed no-repeat;
				background-position: 50% 80%;
			}

			#home-content {
				width: 80%;
				text-align: center;
				padding-top: 25%;
			}

			h1 {
				font-size: 7em;
				line-height: 2em;
			}

			h2 {
				font-size: 4em;
				line-height: 1.5em;
				padding-bottom: 1em;
			}

			p {
				font-size: 2.5em;
				line-height: 1.5em;
			}

			section#narrative video {
				height: 1580px;
			}
		}
	/*///RETINA SMARTPHONES */
/*///HOME*/

/*NARRATIVE*/
	#narrative {
		background: url("../img/narrative.jpg") fixed 50% 80%;
	}

	#commercial {
		background: url("../img/commercial.jpg") fixed 50% 50%;
	}

	#documentary {
		background: url("../img/documentary.jpg") fixed 50% 50%;
	}


/*NARRATIVE*/

/*ARROW DOWN*/
.arrow-down {
	clear: both;
	margin: 0 auto 0 auto;
	width: 5%;
	opacity:0.5;
	position: absolute;
	bottom: 10%;
	left: 48%;
	transition: opacity 0.2s ease-in;
	z-index: 1;
}

.arrow-down img {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.arrow-down:hover {
	opacity: 0.20;
}
/*///ARROW DOWN*/

/*PHOTO GALLERY*/
	#photo-gallery {
		position: relative;
		bottom: 620px;
		width: 80%;
		height: 534px;
		overflow: hidden;
		margin-left: 50px;
	}

	#photo-gallery ul li a img {
		 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	    filter: gray; /* IE6-9 */
	    -webkit-filter: grayscale(90%); /* Chrome 19+ & Safari 6+ */
	    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
	    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
	}

	#photo-gallery ul li a img:hover {
		   filter: none; /* Firefox 10+ */
	    filter: none; /* IE6-9 */
	    -webkit-filter: none; /* Chrome 19+ & Safari 6+ */
	    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
	    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
	}

	#photo-gallery ul {
		list-style-type: none;
	}

	#photo-gallery ul li {
		float:left;
	}
/*///PHOTO GALLERY*/

#about-content {
	position: relative;
	bottom: 620px;
	width: 400px;
	overflow: hidden;
	margin: 0 auto;
}

#map {
	position: relative;
	bottom: 900px;
	float: right;
	overflow: hidden;
}

/*CONTACT FORM */
		#contact-form {
			position: relative;
			bottom: 620px;
			width: 600px;
			height: 534px;
			overflow: hidden;
			margin: 0 auto;
		}

		label  {
			display: block;
			font: 12px Open Sans, light, sans serif;
			padding-bottom: 8px;
			color: #CCE8DC;
		}

		.checkbox-text {
			font: 12px Open Sans, light, sans serif;
			color: #CCE8DC;
		}

		.field,  input[type="textarea"] {
			display: block;
			outline: none !important;
			border-style: none;
			padding: 5px;
			background-color: #87ceb5;
			border: 0px none;
			margin-bottom: 15px;
			width: 600px;
		}


		input[type="textarea"] {
			height: 200px;
			color: #2a8468;
			
			-webkit-appearance: none;
		}

		::-webkit-input-placeholder {
			font-style: italic;
			color: #CCE8DC;
		}

		input[type="textarea"]:hover,  input[type="textarea"]:focus, input[type="textfield"]:hover, input[type="textfield"]:focus {
			box-shadow: 1px 1px 1px 1px #2a8468 inset;
		}

		input[type=submit] {
			text-align: center;
			padding: 10px 20px;
			cursor: pointer;
			border: 2px solid #CCE8DC ;
			background: none;
			color: #CCE8DC;
			font: 14px "Open Sans", sans-serif;
			font-weight: 100;
			background-color: none;		
			transition: all 0.25s linear;
			width: 600px;
			margin-top: 15px;
		}

		input[type=submit]:hover {
			border-radius: 15px;
			opacity: 0.5;
		}

/*///CONTACT FORM */

/* --------------------carouFredSel SLIDER STYLE--------------------- */
	.wrapper {
		width: 100%;
		margin-top: 80px;
		float: left;
		overflow: hidden;
		text-align: center;
	}

	.wrapper h2 {
		color: #725D54;
	}

	.list_carousel {
		width: 80%;
		float:left;
		
	}

	.list_carousel ul {
		list-style-type: none;
		padding: 0;
		width: 100%;
	}

	.list_carousel ul li {
		float: left;
		width: 300px;
		height: 222px;
	}

	.list_carousel ul li:last-child{
		margin: 0;
	}	

	.clearfix {
		float: none;
		clear: both;
	}

	#news1 {
		background: url(../img/red.jpg)
	}

	#news2 {
		background: url(../img/window.jpg)
	}

	#news3 {
		background: url(../img/sunset.jpg)
	}

	#news4 {
		background: url(../img/window.jpg)
	}

	#news5 {
		background: url(../img/red.jpg)
	}

	#news6 {
		background: url(../img/sunset.jpg)
	}


	.news-title {
		color: #725D54;
		background: #FFFAEE;
		display: block;
		text-align: center;
	}

	.slider-arrow {
		padding-top: 55%;
	}

	.prev-arrow, .next-arrow {
		width: 10%;
		float: left;
	}

	#prev1 img {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
	}

	#prev1, #next1 {
		display: block;		
		height: 222px;
		/*float: left;*/
		/*position: absolute;*/
		z-index: 1;
		opacity: 0.5;
		transition: opacity 0.18s ease-in;		
	}

	#prev1 {
		background: #112936;
		left: 0;
	}

	#next1 {
		background: #112936;
		right: 0;
	}

	#prev1:hover, #next1:hover  {
		opacity: 0.8;
	}

	.overlay {
		background: rgba(90, 73, 65, 0.5);
		opacity: 0;
		font: 10px "Open Sans", sans-serif;
		font-weight: 100;
		width: 375px;
		height: 222px;
		transition: all 0.35s ease-in;
		text-align: center;
		text-transform: uppercase;
		overflow: hidden;	
	}

	.overlay a {
		font-size: 14px;
		text-decoration: none;
		display: block;
		padding: 50px;
		color: #CCE8DC;	
		position: relative;
		bottom: -20px;
		transition: all 0.35s ease-in;
	}

	.overlay span {
		color: #FFFAEE;
	}

	.news-thumb:hover .overlay{
		opacity: 1;
	}
/*///carouFredSel SLIDER STYLE*/	

/*VIDEO*/
	.video-container {
		clear: both;
		display: block;
		margin: 0 auto;
	}

	#narrative video {
		width:100%;
		background: url(../video/shot1-hd.gif) no-repeat;
		background-size: cover;
	}

	@media screen and (min-width:320px) and (max-width: 600px){
		.video-controls video{
			/*height: 200px;
			width: auto;*/
		}
	}

	@media screen and (min-width:601px) and (max-width:2000px) {
		.video-controls video{
			/*height: 700px;*/
			/*width: auto;*/
		}
	}

	.play-pause {
		text-align: center;				
		border: 1px solid #CCE8DC ;
		color: #CCE8DC;
		text-decoration: none;
		font: 0.85em "Open Sans", sans-serif;
		font-weight: 100;
		background-color: none;		
		transition: all 0.25s linear;
		width: 10%;
		min-width: 250px;
		margin: 0 auto;
		margin-top: 20%;
	}

	.play-pause a {
		padding: 10px 20px;
		display: block;
		
		
	}

	.play-pause:hover {
		border-radius: 15px;
		opacity: 0.5;
	} 
/*///VIDEO*/
